{% extends 'base.html' %}

{% block content %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQePmwSppkLj1_vxJwDOgeEc3xzSuT85xKYcg&s"" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <div class="d-flex">
              <p class="me-3">6767 naxva</p>
              <p> 09/12/2024 16:18</p>
          </div>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}


